// colors
$backgroundColor: #141529;
$sectionBgColor: #1A293B;
// text colors
$meinTxtColor: #FFFFFF;

// size
    // text size
$headerTxtSize: 15px;

// opacity
$headerOpacity: 0.1;

// fonts
$headerFont: Helvetica Neue LT GEO, Bold;

// responsive 