// colors
$backgroundColor: #141529;
$sectionBgColor: #1A293B;
$gradient: linear-gradient(270deg, #70E0B5 0%, #2E9EA1 100%);

// text colors
$meinTxtColor: #FFFFFF;

// size
    // text size
$headerTxtSize: 15px;

// opacity
$headerOpacity: 0.1;

// fonts
$headerFont: Helvetica Neue LT GEO, Bold;

// responsive 